

html, body {
    height:100%;
} 
body 
    {
        
        /*background-image: linear-gradient(to top, rgba(255,50,0,0.5), rgba(255,50,0,0.1)), url("img/header_sky.jpg");*/
        background-image:  url("img/header_sky.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: fixed;
       
        
    }

.agfc_button_link
{
  content: '';
}

.agfc_header{
   
    
    height: 100vh;
    text-align:center;
    /*background: linear-gradient(to top, rgba(255,50,0,0.5), rgba(255,50,0,0.1));*/
}    

.agfc_opacity
{
background-color:rgba(255,255,255,0.0) !important;

}


.agfc_nav_wrap{
  display: inline-block;
  text-align: right;
  width: 100%;  
  background-color:rgba(255,255,255,0.25);
  height:auto;
  position: fixed;
}

.agfc_topnav_flexcontainer{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.agfc_topnav_item{
  flex:auto;
  margin: 10px;
}

.agfc_centerpiece{
  display:block;
  top: 20vw;
  position: relative;
}
.agfc_center_flexcontainer {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content:center;
   position: relative;
   top: 25%; 
   /*border: 1,1,1,1;
   border-style: solid;*/
}


.agfc_hero{

color: azure;
flex:auto;

height:auto;
margin-bottom: 10px;
display: inline-block;
font-family: Lato !important;
font-size: 5vw;
line-height: 5vw;
text-shadow: 4px 4px #333333;
/*
border: 1,1,1,1;
border-style: solid;*/

}

.agfc_welcome_icons
{
  flex:auto;
  flex-shrink:1;
}


.agfc_first_sub
{
  background-color: floralwhite;
  padding: 20px;
  text-align: center;
  

}

.agfc_sub_grid
{
  margin:50px;
}

.agfc_first_sub_title
{
  font-size: 4vw;
  line-height: 10vw;
  font-weight: bold;
  text-align: center;
}

.agfc_first_sub_text
{
 
  width: 50vw;
  display: inline-block;
  margin-top: 30px;

}

.agfc_text_justified
{
  text-align: justify;
}

.agfc_first_sub_icons_wrap
{
  text-align: center;
}

.agfc_first_sub_icon
{
  font-size:5vw;
  color:#2980b9;
 text-shadow: 7px 7px #d35400;
   /*opacity: 0.3;*/
  transition: all .5s ease-in-out; 
  
  
}
.agfc_first_sub_icon:hover {
   transform: scale(1.1);
   opacity: 1.0;
   text-shadow: 0px 0px #2980b9;
   color:#d35400;
    }

.agfc_line_separator{
  
  height:3px;
  margin-left:20vw;
  margin-right: 20vw;
  background:#d35400;
  border-bottom:1px solid #313030;
}

.agfc_footer
{
  background-color: rgba(0,0,0,0.8);
  color: #ffffff;

}